p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 1158px;
  height: 72px;
  background-color: #ffffff;
  padding-top: 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 50px;
  border-bottom: 1px solid #e7e9fc;
}
.navbar .nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 2;
  gap: 50px;
}
.navbar .nav-links a {
  text-decoration: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
body {
  width: 100vh;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
.logo1 {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
}
.logo2 {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
  margin-right: 50px;
}

.navbar .nav-links a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-decoration: none;
}
.navbar .nav-links a:hover {
  color: #404bbf;
}
.navbar .nav-links a:focus {
  color: #404bbf;
}
.contact-info {
  display: flex;
  align-items: end;
  gap: 60px;
}
.contact-info a {
  color: #434455;
  text-decoration: none;
}
.contact-info a:hover {
  color: #404bbf;
}
.contact-info a:focus {
  color: #404bbf;
}
ul {
  list-style-type: none;
}

.sec1 {
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.sec1 h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5em;
  letter-spacing: 2%;
  width: 496px;
  height: 120px;
  margin: 0 auto;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  cursor: pointer;
  margin-top: 100px;
  padding: 16px, 32px, 16px, 32px;
}

.order-button:hover {
  background-color: #404bbf;
}
.sec2 {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: left;
}
.sec2 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sec3 {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.sec3 ul {
  display: flex;
  align-items: center;
  padding-left: 24px;
  gap: 15px;
}
.sec3-div {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  border-radius: 0px, 0px, 10px, 10px;
}
.sec3-div img {
  box-shadow: 0px 1px 1px 0px #2e2f4229;
}
.sec3-div:hover {
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.sec4 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sec4 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.sec4-div {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
}
.page-title3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
.page-title2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.footer-title {
  padding: 20px 50px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
}
.footer-title2 {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
}
.page-footer {
  height: 312px;
  color: #f4f4fd;
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer-text {
  padding-left: 50px;
  width: 320px;
  height: 112px;
}
