p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.navbar {
  width: 1158px;
  height: 72px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0;
}
.navbar .nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px 0;
}

.navbar .nav-links a {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-decoration: none;
}
.navbar .nav-links a:hover {
  color: #404bbf;
}
.navbar .nav-links a:focus {
  color: #404bbf;
}
.nav-links .menu-link {
  padding: 24px 0;
}
address .contact-info {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-info a {
  color: #434455;
  text-decoration: none;
}
.contact-info a:hover {
  color: #404bbf;
}
.contact-info a:focus {
  color: #404bbf;
}

body {
  width: 1440px;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
.navbar .page-logo {
  width: 115px;
  height: 24px;
  margin-right: 76px;
}

.main-title {
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
  padding: 188px 0;
}
.section-title {
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin: 0 auto;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  min-width: 169px;
  cursor: pointer;
  padding: 16px, 32px, 16px, 32px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  margin-top: 50px;
}

.order-button:hover {
  background-color: #404bbf;
}
.features {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: left;
}

.features .visually-hidden {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
}
.features .features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.features .features-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
}
.team-members {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-main-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 72px;
}
.team-members .team-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 8px;
}
.team-members .team-members-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-members .container {
  text-align: center;
  border-radius: 0px, 0px, 10px, 10px;
}
.team-members .member-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-div img {
  box-shadow: 0px 1px 1px 0px #2e2f4229;
}
.team-div:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214;
}
.team-info .team-text {
  text-align: center;
}
.team-info {
  width: 264px;
  height: 120px;
  background-color: #ffffff;
  padding: 32px 0;
}
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-portfolio .portfolio-item {
  flex-basis: calc((100% - 72px) / 4);
}
.portfolio-div {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-main-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio .container {
  border-top: none;
  border: 1px solid #e7e9fc;
}
.footer-title {
  display: inline-block;
  margin-bottom: 16px;
  padding: 20px 50px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
}
.footer-title2 {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.313em;
  letter-spacing: 3%;
  text-decoration: none;
}
.page-footer {
  height: 312px;
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  padding-left: 50px;
  width: 320px;
  height: 112px;
}
